<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>New user registration</title>
</head>
<body>
    <h1>Register a new user</h1>
    <form action="/add_user" method="post">
        <p>Login: <input type="text" name="username"/></p>
        <p>Pass: <input type="password" name="pass"/></p>
        <p><input type="submit" value="Register"/></p>
    </form>
</body>
</html>